*{
	padding: 0;
	margin:0;
	border: 0;
}
.first-half{
	height: 500px;
	width: 100%;
	background-size: 50% auto;
	background-color: #7FB3D5;
}
.second-half{
	position: 	absolute;	
	width: 100%;
	background-size: 50% auto;
	background-color: #F2F4F4;	
	height: 500px;
}
.title{
	padding-top: 7%;
	margin-left: 80px;
	font-size: 200%;	
	font-style: italic;
}
.col-12{
	padding: 0;
}
h1{
	color: white;
}
p{
	margin-top: 5px;
	margin-left: 35px;
}
.btn-gio{
	position: relative;	
	margin-top: -25px;
	text-align: center;
	vertical-align: middle;
}

.btn-pri{
	height: 50px;
	width: 	150px;
	border:none;
}
.btn-pri:hover{
	background-color: #b5002b;
}